body
{
    background-color: antiquewhite;
    margin-top: 2%;
}
.conteneur
{
    width: 80%;
    margin: auto;
    border: #0ee4ab 3px solid;
}
.accueil
{
	background-color: #D1FFF3;
	border-radius: 15px;
	padding : 10px;
	text-align : center;
	font-size: 1.15em;
    line-height: 130%;
    font-family: Ubuntu,"sans-serif";

}

.score
{
	font-weight:bold;
	font-size:1.6em;
}
.jeu
{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    
}

form
{
    display: flex;
    background-color: rgb(59, 228, 228);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
/* ------------------ Grille -------------------- */
.grille-action
{
    width: 300px;
    height: 150px;
    background-color: aquamarine;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns:repeat(3,1fr);
    gap: 10px; 
    border-radius: 60px;
    padding: 10px;
}
#nouvelle-partie
{
    height: 40px;
    width: 200px;
}

#haut
{
    grid-row: 1 / 1;
    grid-column: 2 / 2;
}
#bas
{
    grid-row: 3 / 3 ;
    grid-column: 2/2;
}
#gauche
{
    grid-row: 2 / 2;
    grid-column: 1 / 1;
}
#droite
{
    grid-row:  2 / 2;
    grid-column: 3 / 3;
}
/* +++++++++++ Tableau +++++++++++++ */
table
{
	background-color:#060047;
	text-align : center;
}
td
{
	width:130px;
	height:130px;
	border-radius : 15%;
    background-color: grey;

}
tr
{
	font-weight : bold;
	font-size:3em;
}

.c0
{
	background-color:gray;
}

.c2
{
	background-color:lightgray;
}

.c4
{
	background-color:#ede0c8;
}

.c8
{
	background-color:#f2b179;
}

.c16
{
	background-color:#f59563;
}

.c32
{
	background-color:#f67c5f;
}

.c64
{
	background-color:#f65e3b;
}

.c128
{
	background-color:#edcf72;
}

.c256
{
	background-color:#edcc61;
}

.c512
{
	background-color:#edc850;
}

.c1024
{
	background-color:#edc53f;
}

.c2048
{
	background-color:#edc22e;
}
/* +++++++++ Fin tableau +++++++++++++ */
/* ----------- Fin Grille ----------------- */


